@import '../../scss/variables';
@import '../../scss/mixin';
.aboutWrapper {
	height: 80vh;
	width: 80vw;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	// -webkit-box-shadow: 3px 3px 15px -3px #edf2f4;
	// box-shadow: 3px 3px 15px -3px #edf2f4;
	@media (max-width: 600px) {
		// height: 90vh;
		// width: 90vw;
		margin: 30px auto;
		min-height: 200px;
		min-width: 350px;
	}

	.container {
		padding: 40px;
		// height: 90%;
		// width: 70%;

		min-height: 200px;
		min-width: 300px;
		max-width: 90%;
		background-color: #edf2f4;
		opacity: 0.8;
		color: $mainColor;
		border-radius: 5px;
		-webkit-box-shadow: 3px 3px 15px -3px #edf2f4;
		box-shadow: 3px 3px 15px -3px #edf2f4;
		text-align: justify;
		text-justify: inter-word;

		@media (max-width: 600px) {
			// height: 90vh;
			// width: 90%;
			min-height: 200px;
			min-width: 300px;
			padding: 15px;
			-webkit-box-shadow: 1.5px 1.5px 7.5px -1.5px #edf2f4;
			box-shadow: 1.5px 1.5px 7.5px -1.5px #edf2f4;
		}
		.title {
			font-size: 32px;
			@media (max-width: 600px) {
				font-size: 20px;
			}
		}
		hr.divider {
			border: 3px solid $themeColor;
			background-color: $themeColor;
			width: 150px;
			margin-bottom: 10px;
			@media (max-width: 600px) {
				width: 50px;
				border: 1.5px solid $themeColor;
				background-color: $themeColor;
			}
		}
		.desc {
			font-size: 14px;
			padding: 8px;
			@media (max-width: 600px) {
				font-size: 12px;
			}
			@media (max-width: 380px) {
				font-size: 10px;
			}
		}
		.bold {
			font-weight: 700;
			font-size: 17px;
			color: $textColorDark;
			cursor: pointer;
			letter-spacing: 1px;
			@media (max-width: 600px) {
				font-size: 14px;
				letter-spacing: 0.5px;
			}
		}
	}
}
