@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';

.hero {
	width: 100%;
	padding: 0 60px;
	margin: 50px 50px;

	@media (max-width: 600px) {
		width: 100vw;
		height: 90vw;
		padding: 0 10px;
		margin: 10px 10px;
	}
	.hero-container {
		display: flex;
		@media (max-width: 600px) {
			flex-direction: column;
			justify-content: space-between;
			align-items: space-between;
		}
		.hero-con-left {
			flex: 4.5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media (max-width: 600px) {
				flex: 4;
			}

			.skill-btn {
				width: 25%;
				height: 30px;
				@media (max-width: 600px) {
					height: 15px;
				}
				margin: 1rem 0;
				cursor: pointer;
			}

			h1 {
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				font-size: 4rem;
				font-size: 28px;
				@media (max-width: 600px) {
					margin-bottom: 10px;
				}
				@media (max-width: 380px) {
					font-size: 16px;
					margin-bottom: 5px;
				}
			}
			.typewriter {
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				font-size: 2.5rem;
				width: 500px;
				line-height: 5rem;
				@media (max-width: 600px) {
					font-size: 1.25rem;
					line-height: 2.5rem;
				}
				@media (max-width: 380px) {
					font-size: 12px;
					line-height: 1rem;
				}
			}

			.intro {
				font-family: 'Raleway', sans-serif;
				padding-top: 2rem;
				p {
					font-size: 2.5rem;
					@media (max-width: 600px) {
						p {
							font-size: 2rem;
						}
					}
				}
			}

			.about-desc {
				font-family: 'Raleway', sans-serif;
				padding-top: 2rem;
				font-size: 1.5rem;
				width: 500px;
				text-align: justify;
				text-justify: inter-word;
				line-height: 2rem;
				letter-spacing: 2px;
				@media (max-width: 600px) {
					width: 95vw;
					font-size: 1.2rem;
					padding-top: 0.5rem;
					text-align: justify;
					text-justify: inter-word;
					padding-right: 10px;
					line-height: 1.5rem;
					letter-spacing: 1px;
				}
				@media (max-width: 380px) {
					font-size: 10px;
					line-height: 1.2rem;
				}
				.bold {
					font-weight: 700;
					font-size: 2rem;
					color: $textColor;
					cursor: pointer;
					letter-spacing: 1px;
					font-size: 1.5rem;
					@media (max-width: 380px) {
						font-size: 10px;
						line-height: 1.2rem;
					}
				}
			}
		}
		.hero-con-center {
			flex: 3;
			width: 100%;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;

			@media (max-width: 600px) {
				flex: 4;
				justify-content: space-between;
				align-items: center;
				margin: 5px 0;
			}

			.skill-title {
				padding: 2rem 0;
				display: flex;
				justify-content: center;
				@media (max-width: 600px) {
					margin-top: 10px;
					padding: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				h1 {
					font-size: 2.5rem;
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					@media (max-width: 600px) {
						font-size: 2.5rem;
					}
					@media (max-width: 380px) {
						display: none;
					}
				}
			}
			.skill-con-wrapper {
				width: 200px;
				@media (max-width: 600px) {
					padding: 15px 0;
				}
				@media (max-width: 380px) {
					padding: 10px 0;
				}

				.skills-con {
					padding: 1rem 1rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: $textColor;
					@media (max-width: 600px) {
						width: 90%;
						justify-content: space-between;
						padding: 0.5rem 0;
						@media (max-width: 380px) {
							padding: 0;
						}
					}
					h2 {
						font-size: 2rem;
						font-family: 'Raleway', sans-serif;
						@media (max-width: 600px) {
							font-size: 1rem;
						}
					}
				}
			}
		}
		.hero-con-right {
			flex: 4.5;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: 600px) {
				flex: 4;
				margin: 0;
				justify-content: center;
				align-items: center;
			}

			.hero-img-con {
				width: 340px;
				height: 440px;
				position: relative;
				@media (max-width: 600px) {
					width: 204px;
					height: 264px;
					position: relative;
				}

				.profile-img {
					width: 300px;
					height: 400px;
					object-fit: cover;
					animation: fadeIn ease 3s;
					position: absolute;
					top: 20px;
					left: 20px;
					z-index: 5;
					opacity: 0.7;
					@media (max-width: 600px) {
						width: 180px;
						height: 240px;
						top: 10px;
						left: 10px;
						z-index: 5;
						opacity: 0.7;
					}
				}

				.overlay-bg-bot {
					position: absolute;
					width: 30rem;
					height: 40rem;
					// background-color: #a30000;
					background-color: $themeColor;
					left: 0;
					top: 0;
					opacity: 0.3;
					@media (max-width: 600px) {
						width: 18rem;
						height: 24rem;
					}
				}
				.overlay-bg-top {
					position: absolute;
					width: 30rem;
					height: 40rem;
					// background-color: #ff7700;
					background-color: #ff7700;
					left: 4rem;
					top: 4rem;
					opacity: 0.3;
					@media (max-width: 600px) {
						width: 18rem;
						height: 24rem;
						left: 2.2rem;
						top: 2.2rem;
					}
				}
			}
		}
	}
}
