@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';

.navbar {
	background-color: $mainColor;
	color: $textColor;
	padding: 0 150px;
	@media (max-width: 600px) {
		padding: 0;
	}
	.nav-container {
		@include flexRowCenter;
		justify-content: space-between;
		@media (max-width: 600px) {
			justify-content: space-around;
		}
		.nav-con-left {
			flex: 6;
			@media (max-width: 600px) {
				flex: 4;
			}
			img {
				width: 80px;
				padding-top: 5px;
				@media (max-width: 600px) {
					width: 60px;
					padding-top: 5px;
					padding-left: 10px;
				}
			}
		}
		.nav-con-right {
			flex: 6;
			@include flexRowCenter;
			justify-content: flex-end;
			@media (max-width: 600px) {
				flex: 8;
				justify-content: space-between;
				padding-right: 10px;
			}
			.link {
				padding: 0px 10px;
				text-transform: uppercase;
				font-size: 20px;
				font-family: 'Raleway', sans-serif;
				font-weight: 600;
				text-decoration: none;
				color: $textColor;
				@media (max-width: 600px) {
					padding: 0 2px;
					font-size: 12px;
					font-weight: 400;
				}
			}
		}
	}
}
