@import '../../scss/variables';
@import '../../scss/mixin';

.card-wrapper {
	// background-color: orange;
	width: 90vw;
	height: 550px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 600px) {
		width: 90vw;
		height: 750px;
		margin: 10px auto;
	}
	@media (max-width: 380px) {
		width: 90vw;
		height: 570px;
		margin: 15px auto;
	}

	.projects-card {
		width: 1000px;
		border-radius: 10px;
		margin: 0 2rem;
		padding: 1rem 1rem;
		background-color: rgba(38, 36, 36, 0.79);
		box-shadow: 0 2px 6px 0 rgb(148, 147, 147);
		transition: $transition;
		@media (max-width: 600px) {
			width: 330px;
			height: 700px;
			border-radius: 5px;
			margin: 0 5px;
		}
		@media (max-width: 380px) {
			width: 320px;
			height: 560px;
			margin: 15px auto;
		}

		.img {
			width: 100%;
			height: 410px;
			object-fit: cover;
			@media (max-width: 600px) {
				width: 100%;
				height: 420px;
				object-fit: cover;
			}
			@media (max-width: 380px) {
				width: 100%;
				height: 330px;
				object-fit: cover;
			}
		}
		.card-body {
			width: 100%;
			height: 130px;
			@media (max-width: 600px) {
				height: 300px;
			}
			@media (max-width: 380px) {
				height: 250px;
			}
			.card-title {
				font-size: 24px;
				padding: 5px;
				@media (max-width: 600px) {
					margin: 10px 0;
				}
				@media (max-width: 380px) {
					margin: 5px 0;
				}
			}

			.card-desc {
				font-size: 12px;
				padding: 5px;
				@media (max-width: 600px) {
					font-size: 14px;
					margin: 10px 0;
				}
				@media (max-width: 380px) {
					font-size: 12px;
					margin: 5px 0;
				}
			}

			.btn-container {
				height: 50px;
				width: 200px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media (max-width: 600px) {
					width: 250px;
				}

				.git-container {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 120px;

					.tooltip {
						font-size: 10px;
						opacity: 0;
						padding: 5px;
						transition: opacity 0.5s ease-in;
					}
					&:hover > .tooltip {
						opacity: 1;
					}

					.git-icon {
						color: #fff;
						font-size: 2.5em;
					}
				}
			}
		}
	}
	article {
		position: absolute;
		width: 100%;
		opacity: 0;
	}
	article.activeSlide {
		opacity: 1;
		transform: translateX(0);
	}

	article.lastSlide {
		transform: translateX(-100%);
	}
	article.nextSlide {
		transform: translateX(100%);
	}

	.prev,
	.next {
		position: absolute;
		background: transparent;
		top: 250px;
		cursor: pointer;
		border: transparent;
		width: 1rem;
		height: 1rem;
		font-size: 60px;
		@media (max-width: 600px) {
			font-size: 30px;
			bottom: 0px;
		}
	}
	.prev {
		left: 50px;
		@media (max-width: 600px) {
			left: -10px;
		}
	}
	.next {
		right: 100px;
		@media (max-width: 600px) {
			right: 10px;
		}
	}
}
